.flex {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/*HEADER*/
/*MENU*/
header {
    font-weight: bold;
    z-index: 1000;
}

.menu>div {
    padding: 10px;
}

.menu {
    font-size: 12px;
    background-color: #ea320d;
}

.menu>h img {
    width: 30%;
}

.menu>div.user {
    margin-left: auto;
}

.menu>div.cart {
    font-size: 20px;
    border-radius: 50%;
    background-color: azure;
    align-content: center;
    margin: 5px;
    position: absolute;
    right: 15%;
}

.menu>div.cart:hover {
    background-color: #cdcfd1;
    color: #ea320d;

}

/*FOOTER*/
.info {
    flex-direction: column;
    text-indent: 15px;
    padding: 2%;
}

.info>div>img {
    width: 50px;
}

.info>p {
    font-size: 12px;
}

/*singleproduct*/

.imgproduct img{
    border-radius: 10px;
    margin-top: 10%;
}

section {
    flex-wrap: nowrap;
    width: 40% !important;
    justify-content: center;
    margin: auto;
}

.detail {
    width: 60%;
    padding: 0;
    padding-left: 1rem;
}
.detail h1{
    font-size:2rem;
    margin-bottom: 1rem;
}
.detail h3{
    font-size: 1.5rem;
    margin:0;
    padding:0;
    margin-bottom: 0.5rem;
}
.detail span{
    
    font-size: 1.2rem;
    font-weight: bold;
}
#order {
    background-color:rgba(0, 0, 0, 0.3);
    width: 80px;
    border-radius: 5px;
    justify-content: space-between;
}
#order>a{
    color: black;
    text-decoration: none;
    margin: auto;
}
#order>p{
    color: black;
    padding: 0;
}
.detail>a{
    display: block;
    margin-bottom: 1rem;
}
.bottom{
    align-items: center;

}
.dathang{
    background-color:#ea320d;
    border-radius: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(248, 246, 246);
}
footer{
    margin-top: 15rem;
}
@media screen and (max-width:1400px) {
    main{
        width: 100%;
    }
    section {
        width: 100%;
        flex-direction: column;
        justify-content: center;
       
    }
    .imgproduct {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .detail{
        width: 100%;
    }
    .detail h1{
        font-size: 1.5rem;
    }
    .detail h3{
        font-size:1rem;
        padding-top: 0;
    }
    .bottom{
        align-items: center;
    }
    #order{
        margin-right:2rem;
    }
    .dathang{
        padding:1rem;
    }
    footer{
        margin-top: 5rem;
        width: 100%;

    }
    .info{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}